.open .flap {
  transform: rotateX(180deg);
  transition: transform 0.4s ease, z-index 0.1s;
  z-index: 1;
}

.close .flap {
  transform: rotateX(0deg);
  transition: transform 0.4s 0.6s ease, z-index 0.1s;
  z-index: 30;
}