@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap');
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.600/neodgm/style.css');

:root {
  --color-pokemon-red: #F06D57;
  --color-pokemon-green: #70D0A8;
  --color-pokemon-black: #000000;
  --color-pokemon-white: #FFFFFF;
  --color-pokemon-darkblue: #3861AB;
  --color-pokemon-blue: #79A0FD;
  --color-pokemon-yellow: #FFCA02;
  --font-pokemon: "NeoDunggeunmo", "neodgm", "Source Code Pro", "Courier New", monospace, sans-serif;
  --font-pokemon-body: "Source Code Pro", "Courier New", monospace, sans-serif;
}

body {
  margin: 0;
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stamp-border {
  padding: 20px;
  background: white;
  mask: 
    radial-gradient(50% 50%,#0000 66%,#000 67%) round 
     16px 16px/calc(2*16px) calc(2*16px), 
    conic-gradient(#000 0 0) content-box;
}
