@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap');
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.600/neodgm/style.css');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');


:root {
  --color-pokemon-red: #F06D57;
  --color-pokemon-green: #70D0A8;
  --color-pokemon-black: #000000;
  --color-pokemon-white: #FFFFFF;
  --color-pokemon-darkblue: #3861AB;
  --color-pokemon-blue: #79A0FD;
  --color-pokemon-yellow: #FFCA02;
  --font-pokemon: "NeoDunggeunmo", "neodgm", "Source Code Pro", "Courier New", monospace, sans-serif;
  --font-pokemon-body: "Source Code Pro", "Courier New", monospace, sans-serif;
  --color-sailor-moon-blue: #61B9C7;
  --color-sailor-moon-darkblue: #0A3A8F;
  --color-sailor-moon-gold: #F1A81A;
  --color-sailor-moon-red: #B90E03;
  --color-sailor-moon-pink: #F7CDDB;
  --color-sailor-moon-darkpink: #EB69B0;
  --color-sailor-moon-purple: #632C64;
  --color-sailor-moon-cat: #40343F;
  --font-sailor-moon: "Oleo Script", "Fredoka", "Poppins", sans-serif;
  --font-sailor-moon-body: "Fredoka", "Poppins", sans-serif;
}

body {
  margin: 0;
  @apply font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Source Code Pro", Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stamp-border {
  padding: 20px;
  background: white;
  mask: 
    radial-gradient(50% 50%,#0000 66%,#000 67%) round 
     16px 16px/calc(2*16px) calc(2*16px), 
    conic-gradient(#000 0 0) content-box;
}
